@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121214;
  color: white;
}

@layer utilities {
  .mask-gradient {
    mask-image: linear-gradient(180deg, black, transparent 70%);
    -webkit-mask-image: linear-gradient(180deg, black, transparent 70%);
  }
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #202024;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff0000, #ff00f7);
  border-radius: 10px;
}